<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
      <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">La liste des Challenges</h1>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
          <div class="lg:flex">
              <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="https://www.tutorialrepublic.com/lib/images/javascript-illustration.png" alt="">

              <div class="flex flex-col justify-between py-6 lg:mx-6">
                  <a  class="btn btn-dark" href="jschallenge">
                    Quiz JavaScript
                  </a>
              </div>
          </div>

          <div class="lg:flex">
              <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="../../assets/img/programmation.jpg" alt="">

              <div class="flex flex-col justify-between py-6 lg:mx-6">
                  <a href="devinettechallenge" class="btn btn-dark">
                      Challenge initiation 
                  </a>
              </div>
          </div>

          <div class="lg:flex">
              <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="../../assets/img/java.jpeg" alt="">

              <div class="flex flex-col justify-between py-6 lg:mx-6">
                  <a  class="btn btn-dark">
                    <i class="bi bi-bag-x-fill" style="color:white;"></i>
                  </a>
              </div>
          </div>

          <div class="lg:flex">
              <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="../../assets/img/python1.png" alt="">

              <div class="flex flex-col justify-between py-6 lg:mx-6">
                  <a  class="btn btn-dark">
                    <i class="bi bi-bag-x-fill" style="color:white;"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>